{{template "shared_views/base.html" .}}
{{define "header"}}
<title>k_BTC</title>
{{end}}
{{define "body"}}

<div class="page-header header-filter" data-parallax="true" style="background-image: url('static/assets/img/back.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>BitCoin</h1>
          <h3 class="title text-center">You Can Have a Good Nap While We Take Good Care of Your Money.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h2>BTC(USD)</h2>
        <h1 id="btc_usd"></h1>
      </div>
      <div class="col-7"></div>
      <div class="col-2">
          <h2>BTC(INR)</h2>
          <h1 id="btc_inr"></h1>
        </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <form>
        <h2 class="title">Bitcoin</h2>
        <div class="row">
          <div class="col-4">
            <div class="bmd-form-group" style="min-width: 100%">
                <label class="bmd-label-floating" style="color:red;">BTC</label>
                <input type="text" class="form-control" name="btc" required>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-4">
            <div class="bmd-form-group" style="min-width: 100%">
              <label class="bmd-label-floating" style="color:red">USD</label>
              <input type="text" class="form-control" name="usd">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
              <div class="bmd-form-group" style="min-width: 100%">
                  <label class="bmd-label-floating" style="color:red">INR</label>
                  <input type="text" class="form-control" name="inr">
                </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <button type="submit" class="btn btn-secondary btn" style="color: rebeccapurple">Update!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{end}}

{{define "script"}}

<script>
$.get("https://api.coinmarketcap.com/v1/ticker/", function(data, status) {
  for (var i = 0; i < data.length - 1; i++) {
    if (data[i].id == "bitcoin") {
      usd = Math.round(data[i].price_usd * 100) / 100;
      inr = Math.round(usd * 69.74 * 100) / 100;
      $("#btc_usd").html(usd);
      $("#btc_inr").html(inr);
    }
  }
});
</script>

{{end}}